.home {
    display: block;
    width: auto;
}

.backgroundImage {
    position: absolute;
    top: 3vh;
    opacity: 80%;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

.MainHeader {
    margin-top: 5vh;
    color: #ffffff;
    font: "calibri";
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: auto;
    text-align: center;
}

.fieldWithButton {
    position: relative;
    width: 40vw;
    margin: auto;
}

.addressField {
    border-style: none;
    background-color: #ffffff;
    position: absolute;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 3vw;
    font: "calibri";
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    width: 80%;
    overflow: scroll;
}
.addressField:focus {
    outline-style: none;
    border-width: 0;
    border-color: #c6c6c6;

}

.submitAddress {
    position: absolute;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 20px;
    background-color: #e2a221;
    border-style: outselt;
    border-color: #dd9e76;
    color: white;
    font-weight: bold;
    font-size: medium;
    right: 0;
    width: 20%;
}

.submitAddress:hover {
    color: black;
}
.map {
    position: center;
    margin: 0 auto;
    padding-left: 35vw;
    padding-top: 20vw;
}
